{% extends "base.html" %}

{% block title %} Технологии {% endblock %}

{% block main_page_title %} Технологии {% endblock %}

{% block main_page_subtitle %} <h2> Вот что я использовал при разработке: </h2>{% endblock %}

{% block content %}

<ul><h4> • Python </h4></ul>
<ul><h4> • Django </h4></ul>
<ul><h4> • Приложения: </h4></ul>
<ul><h5> ⠀pillow - графическая библиотека для sorl </h5></ul>
<ul><h5> ⠀django-debug-toolbar - для душевного равновесия </h5></ul>
<ul><h5> ⠀sorl-thumbnail - для картинок </h5></ul>
<ul><h5> ⠀pytest - для тестов </h5></ul>
<ul><h5> ⠀Вискас - для котят </h5></ul>
<ul><h5> ⠀Скайрим - для нордов </h5></ul>


{% endblock content %}
