{% extends 'base.html' %}

{% load user_filters %}

{% block title %}
  {% if is_edit %}
    Редактировать пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock title %}

{% block main_page_title %} Редактор постов {% endblock main_page_title %}

{% block main_page_subtitle %}
{% if is_edit %}
Тут вы можете отредактировать свой пост - поправить текст или изменить группу
{% else %}
Тут вы можете создать свой собственный пост, а ещё добавить в него группу
{% endif %}
{% endblock main_page_subtitle %}

{% block content %}
<main>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">       
            {% if is_edit %}
              Редактировать пост
            {% else %}
              Новый пост
            {% endif %}             
          </div>
          <div class="card-body">

            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data"            
            {% if is_edit %}
              action="{% url 'posts:post_edit' post.id %}">
            {% else %}
              action="{% url 'posts:post_create' %}">
            {% endif %}

              {% csrf_token %}

              {% for field in form %}
                <div class="form-group row my-3 p-3">
                  {{ field.label_tag }} {{ field|addclass:'form-control' }}

                  {% if field.help_text %}
                  <small id="{{ help_text_id }}" class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                  {% endif %}

                  {% if field.required %}
                  <span class="required text-danger" >*</span>
                  {% endif %}
                  
                </div>
              {% endfor %}

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}
                </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}